.navbar-box-skills ul {
    background-color: rgba(19, 19, 19, 0.089);
    width: 100%;
    min-height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    list-style: none;
}


.skills {
    margin: 1rem;
    padding: 0.5rem 1.8rem;
    /*border: 3px solid white;*/
}

.skills h1 {
    font-size: 1.8rem;
    text-align: center;
    color: rgb(231, 227, 166);
    margin-bottom: 1rem;
}

.skill-conteiner {
    display: grid;
    padding: 2rem;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    /*border: 3px solid white;*/
    gap: 1.5rem;
}

@media screen and (max-width: 1000px){
    .skill-conteiner{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 758px){
    .skill-conteiner{
        grid-template-columns: 1fr;
    }
}

.skill-card {
    display: grid;
    grid-template-rows: 1fr 4fr;
    text-align: center;
    background-color: rgb(32, 32, 40);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 0.8rem;
    min-width: 250px;
    min-height: 300px;
    max-width: 250px;
    width: 100%;
    transition: transform 0.3s ease;
}

.skill-card:hover {
    transform: translateY(-10px);
}

.skill-card h2 {
    padding-top: 0.5rem;
    color: white;
    grid-template-rows: 1/2;
}


.skill-card ul {
    grid-template-rows: 2/3;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 1.6rem;
    padding: 1rem 0.5rem;
    list-style: none;
}

.skill-card img {
    height: 100%;
    width: 100%;
    height: 50px;
}